*{
  margin: 0;
}

.container-img{
  background-image: url("../img/pattern.png");
  background-size: contain;
  background-position: center;
  background-color: cornflowerblue;
}

.title-img{
  width: 1000px;
  margin: auto;
}
.logo{
  width: 20%;
  height: 20%;
  margin-top: 40px;
}

.contenuto{
  width: 1000px;
  margin: auto;
}

h1{
  font-size: 40px;
}